<footer class="footer">
    <div class="container">
        <div class="footer__grid wrap d-flex">
            <div class="footer__copyright copyright">
                <p class="copyright__p">© 2001-2018 «Медведь»</p>
                <span class="copyright__span">Все материалы на сайте защищены</span>
            </div>
            <ul class="footer__menu menu d-flex">
                <li class="menu__item">
                    <a href="#" class="menu__link">О нас</a>
                </li>
                <li class="menu__item">
                    <a href="catalog.html" class="menu__link">Каталог товаров</a>
                </li>
                <li class="menu__item">
                    <a href="order.html" class="menu__link">Доставка и оплата</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Контакты</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link"></a>
                </li>
            </ul>
            <div class="footer__social social d-flex">
                <a href="#" class="social__link">Свзяь с нами</a>
                <a href="88003335574" class="social__phone">8 800 333 55 74</a>
                <a href="mailto:" class="social__mail">info@medved.ru</a>
                <div class="social__bottom d-flex">
                    <a href="#" class="social__icon social__icon_inst">inst</a>
                    <a href="#" class="social__icon social__icon_vk">vk</a>
                    <a href="#" class="social__icon social__icon_fb">fb</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="remodal remodal-add" data-remodal-id="modal-add">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="remodal-add__icon"></div>
    <div class="remodal-add__title">Товар успешно добавлен в корзину</div>
    <p class="remodal-add__p">В вашей корзине 2 товара на сумму 24 800 р</p>
    <div class="remodal-add__bottom d-flex">
        <a href="#" class="remodal-add__btn remodal-add__btn_border-red">Продолжить покупки</a>
        <a href="#" class="remodal-add__btn remodal-add__btn_bgr-red">Перейти в корзину</a>
    </div>
</div>
<script src="js/main.js"></script>
</body>

</html>
