/*= ../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css*/


/*= ../../bower_components/owl.carousel/dist/assets/owl.theme.default.css*/


/*=../../bower_components/select2/dist/css/select2.min.css*/

@import "partials/vars";
@import "partials/mixin";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    margin-right: 0 !important;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

p {
    margin: 0px 0px 10px;
}

a {
    color: #3a3a3a;
    cursor: pointer;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    min-width: 320px;
    position: relative;
    z-index: 20;
    font-size: 14px;
    line-height: normal;
    background-color: #fff;
    color: #000000;
    font-weight: 300;
}

.box-center {
    text-align: center
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.main {
    position: relative;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

// btn
.btn {
    height: 60px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    letter-spacing: -.025em;
    background-color: #bf2119;
    border-radius: 35px;
    display: inline-block;
    text-align: center;
    &_stule-blue {
        border: 1px solid #2084f5;
        padding: 10px 18px;
        font-size: 15px;
        font-weight: 400;
        height: 47px;
        color: #000;
        background: transparent;
    }
    &_busket-in {
        padding: 10px 24px;
        height: 48px;
        font-size: 14px;
        background-color: #0073f6;
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/icon-btn-backet.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
            width: 20px;
            height: 20px;
            margin-left: 7px;
        }
        &:hover,
        &:focus {
            background-color: #5d8aff;
        }
    }
}

.btn-mailng {
    background-color: #0073f6;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.025em;
    height: 40px;
    padding: 10px 24px;
    border-radius: 4px 4px 0px 0px;
}

// titles default
h1 {
    margin-top: 20px;
    margin-bottom: 30px
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

h3,
h4,
h5,
h6 {
    margin-top: 15px;
    margin-bottom: 10px;
}

// titles
.title {
    &_h2 {
        font-size: 36px;
        line-height: normal;
        font-weight: 500;
        letter-spacing: -.025em;
        margin-bottom: 12px;
        color: #000;
    }
}

.header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 783px;
    color: #fff;
    &__top {
        height: 57px;
        border-bottom: 1px solid #372e31;
    }
    &__container {
        height: inherit;
    }
    &__row {
        height: inherit;
        align-items: center;
        justify-content: space-between;
    }
    &__menu {
        padding-right: 20px;
    }
    &__bottom {
        margin-top: 12px;
    }
    &__logo {
        margin-right: 45px;
    }
    &__contacts {
        margin-left: 25px;
        margin-right: 30px;
        margin-top: 6px;
    }
    &__center {
        margin-right: 150px;
    }
    &__busket {
        padding-right: 30px;
    }
    &__promo {
        padding-left: 10px;
        width: 405px;
    }
    &__title {
        margin-top: 75px;
        margin-bottom: 0px;
        font-size: 36px;
        line-height: 1;
        font-weight: 500;
        letter-spacing: -.025em;
    }
    &__desc {
        position: relative;
        margin-top: 12px;
        padding-left: 10px;
        font-size: 18px;
        line-height: 24px;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            left: 5px;
            height: 100%;
            width: 4px;
            background-color: #bf2119;
            z-index: -1;
        }
    }
    &__btn {
        width: 240px;
        margin-top: 20px;
        font-size: 18px;
    }
    &__breadcrumbs {
        margin-top: 71px;
    }
    &__page {
        font-size: 30px;
        letter-spacing: -.025em;
        color: #bf2119;
        font-weight: 400;
    }
}

.header-fail {
    min-height: 818px;
    background-color: #000;
    background-image: url(../img/smoke.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.breadcrumbs {
    color: #fff;
    font-size: 16px;
    letter-spacing: -.025em;
    &__link {
        color: #fff;
        &:after {
            content: '/';
            margin: 0px 4px;
        }
    }
}

.header-short {
    min-height: 335px;
    background: #000;
    background-image: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.menu {
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -.035em;
    &__item {
        margin: 0px 12px;
    }
    &__link {
        text-transform: uppercase;
        color: #fff;
    }
}

.form-search {
    &__label {
        font-size: 12px;
        color: #a4261f;
        font-weight: 300;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: bottom;
            background-image: url(../img/icon-search__red.png);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 15px;
            height: 15px;
            margin-right: 13px;
        }
    }
    &__input {
        display: none;
    }
}

.form-search__label:hover:before {
    background-image: url(../img/icon-search__white.png);
}

.form-search__label:hover {
    color: #fff;
    cursor: pointer;
}

.busket {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -.035em;
    &__text {
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/icon-basktet.png);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 37px;
            height: 37px;
            margin-right: 13px;
        }
    }
}

.lk {
    &__name {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -.035em;
        display: inline-block;
        vertical-align: bottom;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: bottom;
            background-image: url(../img/lk__icon.png);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 20px;
            height: 21px;
            margin-right: 3px;
        }
    }
}

.contacts-info {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    &__title {
        margin-bottom: 4px;
    }
    &__link {
        color: #fff;
        font-weight: 400;
    }
    &__text {
        font-weight: 400;
    }
    &_time {
        &:before {
            content: '';
            position: absolute;
            left: -24px;
            top: 0;
            display: inline-block;
            vertical-align: bottom;
            background-image: url(../img/icon-time-work.png);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 17px;
            height: 17px;
            margin-right: 3px;
        }
    }
    &_number {
        &:before {
            content: '';
            position: absolute;
            left: -24px;
            top: 0;
            display: inline-block;
            vertical-align: bottom;
            background-image: url(../img/icon-phone.png);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 17px;
            margin-right: 3px;
        }
    }
}

.clip-box {
    background-color: #f1f2f4;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.about {
    position: relative;
    // margin-top: -100px;
    padding-top: 112px;
    background-color: #f1f2f4;
    &__text {
        width: 440px;
        flex: 0 0 45%;
    }
    &__p {
        margin-bottom: 23px;
        font-size: 15px;
        line-height: 24px;
    }
    &__image {
        right: auto;
        top: 65px;
        position: absolute;
    }
    &__container {
        padding-left: 101px;
    }
}

.special {
    margin-top: 195px;
    padding: 0px 100px;
    &__container {
        padding: 0px 110px;
    }
    &__col {
        flex: 0 0 50%;
    }
    &__row {
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 18px;
    }
    &__col {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
    }
}

.s-card {
    padding: 10px 14px;
    background-color: #fff;
    margin-bottom: 17px;
    border-radius: 4px;
    width: 227px;
    position: relative;
    &_big {
        flex: 1 1 auto;
        width: 100%;
        height: 392px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &__name {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -.025em;
        margin-top: 18px;
    }
    &__image {
        object-fit: cover;
        margin: 0 auto;
    }
    &__bottom {
        margin-top: 27px;
        justify-content: space-between;
        align-items: center;
    }
    &__price {
        font-weight: 500;
        letter-spacing: -.025em;
        &_old {
            font-size: 14px;
            font-weight: 300;
            color: #6c6c6c;
            text-decoration: line-through;
        }
    }
}

.s-card_big .s-card__name {
    position: absolute;
    left: 20px;
    bottom: 58px;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}

.recomend {
    margin-top: 70px;
    padding-bottom: 80px;
    &__container {
        padding: 0px 110px;
    }
    &__row {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.goods {
    &__image {
        margin: 0 auto;
    }
    &__col {
        padding-left: 10px;
        padding-right: 10px;
        width: 25%;
        &_width-33 {
            width: 33.33%;
            padding-left: 60px;
            padding-right: 60px;
        }
    }
    &__card {
        background-color: #fff;
        padding: 10px 15px;
        margin-bottom: 70px;
        width: 227px;
    }
    &__name {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: -.025em;
        color: #6c6c6c;
    }
    &__center {
        margin: 3px 0px 0px;
        justify-content: space-between;
    }
    &__price {
        font-weight: 500;
        font-size: 14px;
        color: #151515;
        letter-spacing: -.025em;
    }
    &__bottom {
        margin: 21px 0px 0px;
        align-items: center;
        justify-content: space-between;
    }
    &__look {
        background-image: url(../img/icon-look.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        width: 28px;
        height: 16px;
    }
    &__like {
        background-image: url(../img/icon-heart.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        width: 20px;
        height: 18px;
    }
}

.goods__like:hover,
.goods__like:focus {
    background-image: url(../img/icon-heart_hover.png);
}

.services {
    margin-top: -7px;
    &__title {
        margin-top: 0px;
        line-height: 1;
    }
    &__inner {
        margin: 24px 0px 0px;
        padding: 0px 61px 0px 73px;
    }
    &__description {
        position: relative;
        font-weight: 400;
        line-height: 24px;
        max-width: 270px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -4px;
            bottom: 0;
            width: 4px;
            height: 100%;
            background-color: #bf2119;
        }
    }
    &__row {
        margin-top: 8px;
        justify-content: space-between;
        &_end {
            justify-content: flex-end;
        }
    }
    &__col {
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__card {
        align-items: center;
        width: 500px;
        letter-spacing: -.025em;
    }
    &__number {
        font-size: 48px;
        color: #fff;
        background-image: url(../img/services__num_bgr.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-width: 45px;
        width: 45px;
        height: 52px;
        padding-left: 5px;
        margin-right: 10px;
        align-items: flex-end;
        align-self: flex-start;
    }
    &__content {
        padding: 13px 0px 10px;
    }
    &__text {
        font-size: 14px;
        line-height: 24px;
        padding-right: 10px;
    }
    &__name {
        font-size: 18px;
        font-weight: 400;
        color: #000;
        margin-bottom: 11px;
        position: relative;
        display: inline-block;
        &:before {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 50%;
            transform: translateX(-50%);
            width: 42px;
            height: 4px;
            background-color: #0073f6;
            z-index: -1;
        }
    }
    &__more {
        font-size: 14px;
        color: #5fc2ff;
        text-decoration: underline;
    }
    &__buttons {
        flex-direction: column;
        align-items: flex-start;
    }
    &__btn {
        margin: 9px 0px 0px;
    }
}

.news {
    margin-top: 25px;
    padding-bottom: 267px;
}

.flag {
    width: 55px;
    height: 30px;
    background: #000;
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0%;
        right: 70%;
        z-index: 100;
        border: 2px solid transparent;
        border-top: 15px solid #000;
        border-bottom: 15px solid #000;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
    }
    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0%;
        right: 100%;
        border: 1px solid transparent;
        border-top: 2px solid #000;
        border-bottom: 15px solid transparent;
        border-right: 15px solid tranaparent;
        border-left: 15px solid #000;
        display: none;
    }
}

.news-carousel {
    position: absolute;
    max-width: 100%;
    &__image {
        width: 271px;
        height: 159px;
        object-fit: cover;
        border-radius: 4px;
    }
    &__title {
        font-weight: 500;
    }
    &__text {
        margin-top: 3px;
    }
    &__top {
        position: relative;
    }
    &__more {
        margin-top: 10px;
        display: inline-block;
        color: #2baeff;
    }
    &__flag {
        position: absolute;
        top: auto;
        bottom: 12px;
        right: -5px;
    }
}

.news-carousel .owl-nav {
    display: none;
}

.news-carousel .owl-stage {
    width: 100% !important;
}

.mailing {
    &__title {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -.025em;
        color: #000;
        border: 2px solid #0073f6;
        border-bottom: none;
        padding: 10px 14px;
        border-radius: 4px 4px 0px 0px;
    }
    &__row {
        align-items: center;
        justify-content: space-between;
        margin: 20px 0px 0px;
        width: 840px;
        border-bottom: 2px solid #0073f6;
    }
    &__form {
        flex: 1;
        justify-content: space-between;
    }
}

.mailing__form .form__input {
    outline: none;
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px 20px;
    font-size: 14px;
    color: #626262;
}

.feedback {
    margin-top: 89px;
    margin-bottom: 40px;
    &__container {
        padding: 0 167px 0 102px;
    }
    &__inner {
        border-radius: 8px;
        padding: 20px 15px;
        min-height: 448px;
        border: 6px solid #bf2119;
        background-image: url(../img/form-back.png);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        background-origin: padding-box;
    }
    &__form {
        width: 465px;
    }
}

.form {
    &__title {
        font-size: 14px;
        letter-spacing: -.025em;
    }
    &__input {
        width: 217px;
        height: 36px;
        border: 1px solid #acacac;
        padding: 5px 10px;
        color: #626262;
    }
    &__textarea {
        border: 1px solid #acacac;
        min-height: 143px;
        resize: none;
        margin-top: 49px;
        padding: 5px 10px;
        color: #626262;
        font-style: normal;
        width: 100%;
    }
    &__inner {
        margin-top: 30px;
        justify-content: space-between;
    }
    &__group {
        &_width-100 {
            width: 100%;
        }
    }
    &__btn {
        margin-top: 30px;
    }
    &__grid {
        align-items: flex-start;
    }
    &__req {
        color: #df1b12;
    }
    &__small {
        font-size: 12px;
        margin-top: 12px;
    }
    &__label {
        &_block {
            display: block;
            margin-bottom: 10px;
        }
    }
    &__description {
        position: relative;
        font-weight: 16px;
        line-height: 18px;
        &:before {
            content: '';
            position: absolute;
            left: -2px;
            height: 100%;
            width: 4px;
            background-color: #bf2119;
            z-index: -1;
        }
    }
    &__text {
        &_medium {
            font-weight: 500;
        }
    }
}

.personal {
    margin-top: 9px;
    font-size: 14px;
    letter-spacing: -.025em;
    &__label {
        cursor: pointer;
    }
    &__input {
        transform: translateY(1px);
        cursor: pointer;
        position: relative;
        margin-right: 10px;
        &:before {
            margin-right: 10px;
            content: '';
            display: inline-block;
            transform: translate(-2px, -2px);
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            background: #dae2e7;
            transition: all 0.2s;
            border-radius: 4px;
        }
        &:after {
            content: "✓";
            width: 12px;
            height: 12px;
            line-height: 12px;
            text-align: center;
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            color: #fff;
            opacity: 0;
            transition: all 0.2s;
        }
    }
}

.personal__input:checked:before {
    background: #000;
}

.personal__input:checked:after {
    opacity: 1;
}

.footer {
    margin-top: 109px;
    padding-bottom: 35px;
    background-color: #fff;
    &__grid {
        justify-content: space-between;
    }
}

.footer__menu .menu__link {
    color: #000;
}

.copyright {
    font-size: 14px;
    letter-spacing: -.035em;
    &__p {
        font-weight: 500;
        margin-bottom: 0px;
    }
}

.social {
    flex-direction: column;
    line-height: 18px;
    font-size: 14px;
    &__link {
        color: #0f7bf7;
    }
    &__bottom {
        align-items: flex-end;
        margin-top: 4px;
    }
    &__icon {
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        font-size: 0;
        &_inst {
            background-image: url(../img/icon-insta.png);
            width: 16px;
            height: 16px;
        }
        &_vk {
            background-image: url(../img/icon-vk.png);
            width: 20px;
            height: 13px;
            margin-top: 3px;
        }
        &_fb {
            background-image: url(../img/icon-fb.png);
            width: 15px;
            height: 19px;
        }
    }
}

.list {
    list-style: none;
    &__link {
        position: relative;
        &_parent {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 18px;
            display: block;
        }
    }
    &__item {
        margin-bottom: 18px;
    }
    &__dropdown {
        list-style: none;
    }
}

.list__link.list__link_active {
    &:before {
        content: '';
        position: absolute;
        left: -3px;
        height: 100%;
        width: 4px;
        background-color: #3155b5;
        z-index: -1;
    }
}

// catalog
.aside__list .list__dropdown {
    padding-left: 20px;
}

.catalog {
    &__aside {
        width: 225px;
        min-width: 225px;
        font-size: 16px;
        margin-right: 38px;
    }
    &__goods {
        margin-left: -60px;
        margin-right: -60px;
    }
    &__content {
        width: 975px;
    }
    &__card {
        margin-top: 32px;
    }
    &__pagination {
        justify-content: center;
    }
}

.pagination {
    &__list {
        margin: 0px 21px;
    }
    &__text {
        font-weight: 500;
    }
}

.pagination__item_active .list__link {
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #bf2119;
    color: #fff;
}

.pagination__list .list__link {
    font-weight: 500;
    line-height: 1;
}

.pagination__list .list__item {
    // padding: 0px 23px;
    margin: 0px 10px;
}

.pagination__list .pagination__item_active {
    margin: 0;
}

// owl
.owl-stage-outer {
    overflow: hidden;
}

.owl-stage {
    display: flex;
}

.owl-nav.disabled {
    display: none;
}

.owl-prev,
.owl-next {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10px;
    height: 18px;
}

.owl-nav {
    position: absolute;
    width: 100%;
}

.card {
    &__title {
        font-size: 30px;
        letter-spacing: -.025em;
        font-weight: 400;
        margin-bottom: 15px;
    }
    &__carousel {
        width: 310px;
        margin-left: 10px;
    }
    &__slide {
        position: relative;
    }
    &__zoom {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-image: url(../img/zoom-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        width: 33px;
        height: 33px;
    }
    &__slide {
        width: 310px;
    }
    &__image {
        object-fit: cover;
        max-width: 100%;
        border-radius: 4px;
    }
    &__info {
        flex-direction: column;
    }
    &__p {
        margin-bottom: 28px;
    }
    &__link {
        display: inline-block;
        color: #4172f2;
        border-bottom: 1px dashed #4172f2;
    }
    &__info {
        align-items: flex-start;
        padding-left: 15px;
        max-width: 212px;
    }
    &__price {
        margin-top: 56px;
        font-size: 30px;
        letter-spacing: -.025em;
        color: #ff1d25;
        font-weight: 400;
    }
    &__link {
        margin-top: 15px;
    }
    &__btn {
        margin-top: 31px;
        font-size: 18px;
        padding: 12px 23px;
        min-width: 160px;
        &:after {
            display: none;
        }
    }
    &__color {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid #969696;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        background-color: #c5a981;
        &_red {
            background-color: #ff1d25;
        }
    }
    &__steps {
        margin-top: 32px;
    }
}

.card-dots {
    flex-direction: column;
    &__item {
        overflow: hidden;
        width: 69px;
        height: 90px;
        margin-bottom: 10px;
    }
    &__image {
        object-fit: cover;
        width: inherit;
        height: inherit;
    }
}

.card-dots__item.active {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        height: 100%;
        max-height: 100%;
        background-color: #4172f2;
    }
}

.size {
    margin-right: 10px;
    &__input {
        display: none;
    }
    &__item {
        display: flex;
    }
    &__label {
        font-size: 14px;
        letter-spacing: -.025em;
        font-weight: 400;
        padding: 7px;
        max-width: 100%;
        text-transform: uppercase;
        color: #000;
        background-color: #e8e8e8;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 4px;
    }
}

.size__input:checked ~ label {
    color: #fff;
    transition: 0.5s background cubic-bezier(0.4, 0, 0.2, 1);
    background: #4172f2;
}

.card__info_last {
    margin-left: auto;
}

.card__info-icon {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 4px;
    width: 18px;
    height: 16px;
    margin-right: 4px;
}

.similar {
    &__carousel {
        position: relative;
    }
}

.owl-prev {
    position: absolute;
    left: -20px;
    background-image: url(../img/arrow-left.png);
}

.owl-next {
    position: absolute;
    right: -20px;
    background-image: url(../img/arrow-right.png);
}

.similar__carousel .owl-nav {
    top: 40%;
    left: 0;
}

.similar__carousel .owl-nav span {
    display: none;
}

.steps {
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
    padding-left: 65px;
    &__name {
        padding-top: 12px;
        flex: 2 0 115px;
        max-width: 115px;
        margin-right: 22px;
    }
    &__text {
        flex: 1 1 auto;
    }
}

.fail {
    text-align: center;
    &__top {
        text-transform: uppercase;
        font-size: 42px;
        font-weight: 500;
    }
    &__title {
        font-size: 250px;
        letter-spacing: -.025em;
        color: rgba(#bf2119, 0.69);
        font-weight: 500;
    }
    &__text {
        letter-spacing: -.025em;
        font-size: 25px;
        line-height: 33px;
        color: #fff;
    }
}

.order {
    &__title {
        font-size: 24px;
        letter-spacing: -.025em;
    }
}

.order .form__input_big {
    width: 525px;
}

.order .form__input_icon {
    background-image: url(../img/icon-search__red.png);
    background-repeat: no-repeat;
    background-position: center left 30px;
    padding: 0px 60px;
}

.getting {
    flex-direction: column;
    &_row {
        flex-direction: row;
    }
    &__radio {
        position: absolute;
        left: 0;
        opacity: 0;
        top: 0;
    }
    &__checkmark {
        position: absolute;
        top: 7px;
        right: 7px;
        height: 17px;
        width: 17px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #bcbcbc
    }
    &__label {
        font-size: 24px;
        letter-spacing: -.025em;
        font-weight: 400;
        color: #000;
        width: 165px;
        height: 115px;
        background-color: #fff;
        border: 3px solid #0473f6;
        margin-bottom: 17px;
        padding: 14px 35px 12px 12px;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        transition: all 0.2s;
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
    }
}

.getting__label input:hover input ~ .getting__checkmark {
    background-color: #ccc;
}

.getting__label input:checked ~ .getting__checkmark {
    background-color: #00e588;
    border: none;
}

.getting__checkmark:after {
    content: "✓";
    position: absolute;
    display: none;
    color: #fff;
    transition: all 0.2s;
}

.getting__label input:checked ~ .getting__checkmark:after {
    display: block;
    transition: all 0.2s;
}

.getting__label .getting__checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.order__form .form__grid {
    margin-top: 12px;
}

.order__form .form__description {
    max-width: 328px;
    margin-left: 36px;
}

.order__form .form__price {
    padding-left: 35px;
    font-weight: 500;
    font-size: 16px;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 11px;
        height: 2px;
        margin-right: 4px;
        background-color: #0473f6;
    }
}

.getting_row .getting__label {
    margin-right: 58px;
}
